{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="text-center">
    <h1>Products List</h1>
</div>

{% if followed_products_list %}
<table class="table table-hover table-bordered align-middle">
    <tbody>
        {% for product in followed_products_list %}
        <tr>
            <td><a href="{{ product.product.get_absolute_url }}">{{ product.product.product_name }}</a></td>
            <td><a href="delete/{{ product.id }}" class="btn btn-outline-danger">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if number_followed_products >= 8 %}
    <form action="" method="post">
        {% csrf_token %}
        <label class="test">You can follow a maximum of 8 different products</label>
        <fieldset disabled="disabled">
            {% crispy form %}
        </fieldset>
    </form>

{% else %}
    <form action="" method="post">
        {% csrf_token %}

        {% crispy form %}
    </form>
{% endif %}








{% endblock %}